<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scripts Progress</title>
</head>

<body>
    <div class="content" style="display: flex; margin: 50px; margin-top: 100px;">
        <div class="buttons" style="display: flex; flex-direction: column; padding: 10px; width: 400px;">

            {% for script in scripts %}
            <span>{{ script.name }}: {{ script.description }}</span>
            <div class="buttons" style="display: flex; gap: 20px;">

                <button type="button" class="startButton" data-script-id="{{ loop.index - 1 }}">
                    Start Script {{ loop.index - 1}}
                </button>

                <button type="button" class="stopButton" data-script-id="{{ loop.index - 1 }}">
                    Stop Script {{ loop.index - 1}}
                </button>

                <button type="button" class="showButton" data-script-id="{{ loop.index - 1 }}">
                    Show Script {{ loop.index - 1 }}
                </button>
            </div>
            <hr>
            {% endfor %}

            <button type="button" id="clearButton">Clear</button>
        </div>

        <div id="table" class="table" style="text-align: left;">
            <div class="scrollable">
                <table style="display: block; height: 500px; overflow-y: scroll;">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Timestamp</th>
                            <th style="width: 350px;">Event</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody"></tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function renderEvents(events) {
            const fragment = document.createDocumentFragment(); // batch DOM writes

            events.forEach((event, _) => {
                const [timestamp, log] = event.split(",");

                const tr = document.createElement("tr");

                const td1 = document.createElement("td");
                td1.textContent = timestamp;

                const td2 = document.createElement("td");
                td2.textContent = log;

                tr.appendChild(td1);
                tr.appendChild(td2);
                fragment.prepend(tr);
            });
            document.getElementById("tableBody").prepend(fragment);
        }



        let intervalId = null;
        let state = -1;
        let start = 0;
        async function poll() {
            console.log("polling '/poll/" + state + "?start=" + start + "'");

            // no need to poll if UI state is empty
            if (state === -1) return;

            // get the events based on the script id
            const response = await fetch("/poll/" + state + "?start=" + start);
            const result = await response.json();

            start = result.end;
            renderEvents(result.events);

            // the reason this is called here is because when the script has finished
            // the only function that is running on interval is this function
            // hence, this function also checks for script status in case it has finished
            // get the status of the script (running, error or stopped)
            const response2 = await fetch("/worker-status/" + state);
            const result2 = await response2.json();

            // stop polling if script is stopped or in error
            if (result2.status !== 0) {
                clearInterval(intervalId);
                intervalId = null;
            }
        }



        async function startPolling() {

            poll(); // initial poll

            // check if the script is running
            const response = await fetch("/worker-status/" + state);
            const result = await response.json();

            // call polling on an interval if script is running
            if (result.status === 0) {
                clearInterval(intervalId);
                intervalId = setInterval(poll, 1000);
            }
        }



        document.querySelectorAll(".showButton").forEach(btn => {
            btn.addEventListener("click", async function (event) {
                console.log("Show button clicked!");

                event.preventDefault(); // prevent default button behaviour

                // to prevent showing twice or duplicate showing
                if (state !== btn.dataset.scriptId) {

                    // clear whatever is existing on the UI
                    document.getElementById("tableBody").textContent = "";

                    // UI state is now based on the script id
                    state = btn.dataset.scriptId;
                    start = 0;

                    // start polling
                    startPolling();
                }
            });
        });



        document.querySelectorAll(".startButton").forEach(btn => {
            btn.addEventListener("click", async function (event) {
                console.log("Start button clicked!");

                event.preventDefault();

                // scenario 1: script has never been started
                // scenario 2: script was started and has finished
                // scenario 3: script is ongoing
                state = btn.dataset.scriptId;

                // start the worker
                const response = await fetch("/start-worker/" + state, { method: "POST", });
                const result = await response.json();

                // to prevent showing the same events twice
                // preventing duplicate showing
                if (state !== btn.dataset.scriptId) {

                    // wait until script has fully started
                    if (result.status === 'ok') {

                        // clear whatever is existing on the UI
                        document.getElementById("tableBody").textContent = "";

                        // UI state is now based on the script id
                        state = btn.dataset.scriptId;
                        start = 0;
                    }
                }
                // start polling
                startPolling();
            });
        });



        document.querySelectorAll(".stopButton").forEach(btn => {
            btn.addEventListener("click", async function (event) {
                console.log("Stop button clicked!");

                event.preventDefault();

                state = btn.dataset.scriptId;

                // stop the worker
                fetch("/stop-worker/" + state, { method: "POST", });
                // const result = await response.json();
            });
        });



        document.getElementById("clearButton").addEventListener("click", async function (event) {
            console.log("Clear button clicked!");

            event.preventDefault();
            if (state !== -1) {
                document.getElementById("tableBody").textContent = "";
                state = -1;
                start = 0;

                clearInterval(intervalId);
                intervalId = null;
            }
        });
    </script>
</body>

</html>